<launch>
  <arg name="visual" default="false"/>
  <arg name="lidar_name"/>
  <arg name="model" default="RSBPEARL" />
  <arg name="intensity_mode" default="3"/>
  <arg name="cut_angle" default="0" doc="If set at [0, 360), cut at specific angle feature activated, otherwise use the fixed packets number mode."/>
  <arg name="lidar_param_path" default="$(find rslidar_pointcloud)/data/rs_bpearl/"/>

  <node name="$(arg lidar_name)_node" pkg="rslidar_pointcloud" type="rslidar_cloud_node" output="screen" >
    <param name="model" value="$(arg model)"/>
    <param name="angle_path" value="$(arg lidar_param_path)/angle.csv" />
    <param name="channel_path" value="$(arg lidar_param_path)/ChannelNum.csv" />
    <param name="max_distance" value="150"/>
    <param name="min_distance" value="0.1"/>
    <param name="resolution_type" value="0.5cm"/>
    <param name="intensity_mode" value="$(arg intensity_mode)"/>
    <param name="input_packets_topic" value="/sensors/lidar/$(arg lidar_name)/raw_packets"/>
    <remap from="/rslidar_packets_difop" to="/sensors/lidar/rslidar_$(arg lidar_name)_nodelet_manager/rslidar_packets_difop"/>
    <remap from="rslidar_points" to="/sensors/lidar/$(arg lidar_name)/point_cloud_orig"/>
  </node>
    <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find rslidar_pointcloud)/rviz_cfg/rslidar.rviz" if="$(arg visual)"/>

</launch>
